---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/Profile-Pic.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/Profile-Pic.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Profile-Pic.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <!-- <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture> -->
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Monroe Township Web Designs</h2>
                <p class="cs-text">
                    Hi my name is Matt Sze. I'm the owner and sole developer of Monroe Township Web Designs. I got into programming during my undergrad years at Rutgers where I became a MATLAB teaching assistant. Funny enough, I 
                    majored in chemical engineering and even worked professionally as a chemical engineer in the Oil and Gas industry for three years. 
                </p>
                <p class="cs-text">
                    I quickly realized I did not want to do that for the rest of my life and rekindled my love of programming during the Covid pandemic where I attended Fullstack Academy's Immersive Software Engineering bootcamp. After completing 
                    the course I went off to work as a developer at Colgate Palmolive working on their eCommerce sity. I eventually found my way to working at MIT Lincoln Labs in their Artificial Intelligence and Algorithms division in Boston.
                </p>

                <p class="cs-text">
                   My personal goal is to help small businesses who don't have thousands of dollars upfront to get a great website up and running with the latest and greatest design trends.  
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I want to help clients expand their business and help them get the most out of their online presence. 
                    </p>
                    <span class="cs-name">Matt Sze</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}