---
title: 'SEO'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'SEO/'
eleventyNavigation:
    key: SEO 
    order: 300
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/seo.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--             Side by Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-1892">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcs="/assets/images/mobile.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/images/mobile.webp">
                <img loading="lazy" decoding="async" src="/assets/images/mobile.webp" alt="mobile" width="324"
                    height="467">
            </picture>
            <div class="cs-info">
                <p class="cs-info-text">
                    <span class="cs-bold">Did You Know?</span>
                    Over 75% of retail website visits and over 62% of global website traffic
                </p>
            </div>
        </div>
        <section id="content-page-714">
            <div class="cs-content">
                <h1 class="cs-title">Professional Web Design &amp; Development Services</h1>
                <h2>Custom Code - NO Page Builders Or Wordpress</h2>
                <p>At Monroe Township Web Designs, we do things a little differently. Instead of using page builders or
                    Wordpress, we
                    hand write all the code for our sites from top to bottom. This allows us to make very custom
                    designs, have
                    absolutely ZERO bloat or wasted code to slow us down, they load instantly, score perfect marks on
                    Google Page
                    Speed Insights, are more secure and actually impossible to hack, and we don't need to constantly
                    update plugins
                    or WordPress versions to prevent hacking.</p>
                <h3>Why IT Matters</h3>
                <ul>
                    <li>Faster load times</li>
                    <li>Better conversions</li>
                    <li>Better performing ads</li>
                    <li>More secure</li>
                    <li>Better ranking on Google</li>
                    <li>Boosts your Google Business Profile in the Maps Listings</li>
                </ul>
                <h4>Better Load times leads to higher conversions</h4>
                <p>It's very competitive online, and you need every edge you can get to stand out and overtake your
                    competition.
                    When everyone else is using a page builder and getting poor load times, you could be getting
                    something different
                    - something custom coded and loading instantly. This is important because if your website takes
                    <strong>more
                        than 3 seconds to load</strong>, <strong>you could lose up to 50% of your traffic</strong>
                    because they
                    leave before the site can load. They just don't want to wait that long. Our sites load so fast they
                    don't have
                    any chance to leave, allowing us to capture more leads to the site than your old one did.</p>
                <h4>Better Ads Performance</h4>
                <p>The faster your website loads, the better your conversions are for the ads to send them to. And
                    Google prefers
                    websites that load fast. Faster loading websites actually have a lower cost-per-click which can save
                    you
                    hundreds or more a month depending on how much you're spending on ads clicks.</p>
                <h4>Custom Coded Websites Are More Secure</h4>
                <p>WordPress and other builders have lots of vulnerabilities and points of entry into the site that can
                    be
                    compromised. Like with Wordpress, if you aren't constantly updating your plugins and WordPress
                    version then you
                    are increasing the chances of getting hacked every day you don't. Hackers target WordPress more than
                    any other
                    platform because they are easier to get into (especially if you aren't doing your updates!).</p>
                <p>With our custom code, we don't have any databases or server side requests being made that hackers can
                    intercept
                    and hijack to insert their own code to redirect a site to a spam site. It's just static HTML and CSS
                    files.
                    There's nothing TO hack. We can leave our sites alone for 10 years and nothing will happen to them.
                    They are as
                    secure as you can get.</p>
                <h4>Improve your search ranking</h4>
                <p>Better load times can improve your ranking on Google in a number of ways. The most common way is by
                    just being
                    faster. If there are two similar sites with similar content and domain authority, Google has stated
                    that the one
                    with the better Page Speed Scores and Core Vitals will win.</p>
                <p>The other method is more indirect. When your site loads faster, more people reach it. And the more
                    people you
                    have going to your site can increase your ranking. And by focusing on Google's Core Vitals Metrics
                    we can create
                    a better user experience on the site to keep them on the site with higher session times and
                    navigating the site
                    with more clicks to other pages to learn more. With more traffic, higher session times, and better
                    click through
                    rates, we can improve our Google ranking by showing Google we are solving the users search queries
                    and are
                    experts in our field that visitors find valuable with our carefully written and helpful content.</p>
                <h4>Boost Your Google Business Profile</h4>
                <p>A faster loading website can also add extra boost to your Google Business Profile and help increase
                    your
                    visibility in Maps searches. Couple that with LOTS of 5 star reviews, images, and a full 100%
                    complete profile,
                    you will start seeing more leads coming from that profile than you had before. The more visible we
                    can make your
                    profile there, the more people that reach your site, and that's more people that our site can
                    convert into a
                    lead.</p>
                <h2>Small Business SEO Specialists</h2>
                <p>Web design and SEO go hand in hand. A well-built website will not always be enough to move the needle
                    as much as
                    you'd like, especially in more competitive markets. That's why we have an in-house <a
                        href="/seo-services/">SEO
                        expert</a> who knows how to rank a website and generate leads.</p>
                <p>Forget the buzzwords like "optimize your user experience, submit a site map, optimize your meta tags
                    and
                    descriptions, blah blah blah". Those are all things that EVERY developer should be doing by default.
                    Those
                    aren't SEO services. SEO is an active and engaged process of content creation, backlinking,
                    blogging, and
                    monitoring. If you want to learn more about our <a href="/seo-services/">small business SEO
                        services</a>, we're
                    happy to set up a call and explain in detail every little thing we do and how this all works.</p>
            </div>
        </section>
    </div>
</section>



{% include 'components/cta.html' %}

{% endblock %}