/*-- -------------------------- -->
<---    Side by Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-r-1892 {
        width: 100%;
        padding: var(--sectionPadding);
        background-color: #faf6f2;
        display: flex;
        flex-direction: column;
        /* aligns content to the left, set to center to centrally align */
        align-items: flex-start;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 80px */
            gap: clamp(3rem, 6vw, 5rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(570/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-image-group {
            font-size: min(2.29vw, 0.9rem);
            width: calc(630/16 * 1em);
            height: calc(730/16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: calc(522/16 * 1em);
            height: calc(680/16 * 1em);
            box-sizing: border-box;
            background-color: var(--primary);
            overflow: hidden;
            border: 8px solid var(--primary);
            border-radius: calc(260/16 * 1rem);
            position: absolute;
            right: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.7s;
            }
        }

        .cs-graphic {
            height: auto;
            position: absolute;
        }

        .cs-brown {
            width: calc(242/16 * 1em);
            height: auto;
            top: calc(26/16 * 1em);
            left: calc(13/16 * 1em);
            z-index: -2;
        }

        .cs-peach {
            width: calc(58/16 * 1em);
            height: auto;
            top: calc(6/16 * 1em);
            left: calc(109/16 * 1em);
        }

        .cs-beige {
            width: calc(352/16 * 1em);
            height: auto;
            top: calc(71/16 * 1em);
            left: calc(16/16 * 1em);
            z-index: -3;
        }

        .cs-leaf {
            width: calc(225/16 * 1em);
            height: auto;
            bottom: 0;
            right: calc(16/16 * 1em);
            z-index: 1;
        }

        .cs-lines {
            width: calc(176/16 * 1em);
            height: auto;
            bottom: 0;
            right: 0;
        }

        .cs-info {
            width: 50%;
            max-width: calc(305/16 * 1rem);
            padding: calc(100/16 * 1em) calc(40/16 * 1em);
            background-color: var(--primary);
            border-radius: calc(224/16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .cs-info-text {
            /* 14px - 20px */
            font-size: clamp(.875rem, 3.5vw, 1.25rem);
            font-weight: 600;
            line-height: 1.6em;
            text-align: center;
            max-width: calc(223/16 * 1em);
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-bold {
            /* 16px - 24x */
            font-size: clamp(1rem, 3.5vw, 1.5rem);
            font-weight: 600;
            line-height: 1.2em;
            margin: 0 0 calc(4/16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-text-large {
            font-size: calc(20/16 * 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(12/16 * 1rem);
            color: var(--headerColor);
        }

        .cs-text {
            margin-bottom: calc(12/16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--secondary);
            overflow: hidden;
            color: #fff;
            border: none;
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r-1892 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        // .cs-content {
        //     /* 48px - 64px */
        //     padding: clamp(3rem, 5vw, 4rem) 0;
        // }

        .cs-image-group {
            font-size: min(1.27vw, 1rem);
            min-height: calc(730/16 * 1em);
            height: auto;
            max-height: 50vh;
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-picture {
            height: 93.150685%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-r-1892 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-bold,
            .cs-text-large,
            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-info-text {
                opacity: 0.8;
            }

            .cs-picture {
                border-color: var(--accent);
            }

            .cs-info {
                background-color: var(--medium);
            }

            .cs-graphic {
                opacity: 0.6;
            }
        }
    }
}

@media only screen and (min-width: 0rem) {
    #content-page-714 {
        padding: var(--sectionPaddingV2);
        background-color: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    #content-page-714 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 5rem);
        position: relative;
    }

    #content-page-714 .cs-content {
        text-align: left;
        width: 100%;
        max-width: 46.125rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #content-page-714 .cs-content img {
        width: 100%;
        height: auto;
        margin: 1rem 0;
        display: block;
    }

    #content-page-714 h1 {
        color: var(--primary);
    }

    #content-page-714 h2,
    #content-page-714 h3,
    #content-page-714 h4,
    #content-page-714 h5,
    #content-page-714 h6 {
        font-weight: 700;
        line-height: 1.1em;
        text-align: inherit;
        margin: 0 0 1rem 0;
        color: var(--primary);
    }

    #content-page-714 h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    #content-page-714 h3 {
        font-size: 1.5rem;
        color: #767676;
    }

    #content-page-714 h4,
    #content-page-714 h5,
    #content-page-714 h6 {
        font-size: 1.25rem;
        color: #767676;
    }

    #content-page-714 .cs-button-solid {
        margin-bottom: 2rem;
    }

    #content-page-714 .cs-color {
        color: var(--primaryLight);
    }

    #content-page-714 p {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        margin: 0 0 1rem 0;
        color: var(--bodyTextColor);
    }

    #content-page-714 p:last-of-type {
        margin-bottom: 2rem;
    }

    #content-page-714 p a {
        font-weight: bold;
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: var(--primary);
    }

    #content-page-714 ol,
    #content-page-714 ul {
        padding-left: 1.5rem;
        margin: 0 0 2rem 0;
        color: var(--bodyTextColor);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #content-page-714 ul li {
        list-style: none;
        color: inherit;
        position: relative;
    }

    #content-page-714 ul li:before {
        content: "";
        width: 3px;
        height: 3px;
        background: currentColor;
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 0.625rem;
        left: -0.75rem;
    }

    #content-page-714 ul li p:last-of-type {
        margin: 0;
    }

    #content-page-714 .cs-image-group {
        font-size: min(1vw, 1em);
        width: 33.875em;
        height: 48.3125em;
        display: none;
        flex: none;
        position: relative;
        z-index: 1;
    }

    #content-page-714 .cs-picture {
        width: 33.875em;
        height: 40.4375em;
        border-radius: 17.8125em;
        border: 0.75em solid #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #f7f7f7;
        box-sizing: border-box;
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    #content-page-714 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    #content-page-714 .cs-bubbles {
        z-index: -1;
        position: absolute;
        bottom: 0em;
        left: 0;
        height: 26.6875em;
        width: 26.1875em;
        font-size: min(2.5vw, .7em);
        transform: scaleY(-1);
    }

    #content-page-714 .cs-bubbles:before {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        opacity: 1;
        display: block;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        background: transparent;
        height: 20.625em;
        width: 20.625em;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }

    #content-page-714 .cs-bubbles:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 0.15;
        display: block;
        border-radius: 50%;
        background: var(--primary);
        height: 16.25em;
        width: 16.25em;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        transition: box-shadow 0.3s;
    }

    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-2rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-3rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    #content-page-714 .cs-background {
        display: none;
    }
}

@media only screen and (min-width: 48rem) {
    #content-page-714 .cs-container {
        flex-direction: row;
        align-items: flex-start;
    }

    #content-page-714 .cs-image-group {
        display: block;
        order: -1;
    }

    #content-page-714 .cs-content {
        margin-left: auto;
    }

    #content-page-714 .cs-background {
        width: 20%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.86) 95%);
    }

    #content-page-714 .cs-background img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
    }
}

@media only screen and (min-width: 81.25rem) {
    #content-page-714 .cs-image-group {
        font-size: inherit;
        position: relative;
    }

    #content-page-714 .cs-background {
        width: 50%;
        margin-right: 20.9375rem;
        left: auto;
        right: 50%;
    }
}

@media only screen and (min-width: 0rem) {
    body.dark-mode #content-page-714 {
        background-color: var(--dark);
    }

    body.dark-mode #content-page-714 .cs-title,
    body.dark-mode #content-page-714 .cs-text,
    body.dark-mode #content-page-714 h2,
    body.dark-mode #content-page-714 h3,
    body.dark-mode #content-page-714 h4,
    body.dark-mode #content-page-714 h5,
    body.dark-mode #content-page-714 h6,
    body.dark-mode #content-page-714 li,
    body.dark-mode #content-page-714 p {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #content-page-714 .cs-color,
    body.dark-mode #content-page-714 a {
        color: var(--primaryLight);
    }

    body.dark-mode #content-page-714 p,
    body.dark-mode #content-page-714 li {
        color: #ebebeb;
    }

    body.dark-mode #content-page-714 .cs-picture {
        border-color: var(--dark);
        background-color: var(--dark);
    }

    body.dark-mode #content-page-714 .cs-background {
        display: none;
    }

    body.dark-mode #content-page-714 .cs-background img {
        display: none;
    }

    body.dark-mode #content-page-714 .cs-bubbles:before {
        border-color: #ffffff;
        box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 44px, inset rgba(67, 183, 255, 0.2) 0px 0px 30px, inset rgba(67, 183, 255, 0.2) 0px 0px 55px, inset rgba(67, 183, 255, 0.4) 0px 0px 75px, rgba(67, 183, 255, 0.4) 0px 0px 105px;
    }

    body.dark-mode #content-page-714 .cs-bubbles:after {
        background-color: var(--secondary);
    }
}